.m_text_sm {
    font-size: 14px;
}
.m_forgot_password_img {
    height: 25rem;
}
.m_otp_input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0 5px;
}
.m_otp_timer {
    color: #ff5e14;
}
.m_otp_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.m_resend_link {
    color: #ff5e14;
    cursor: pointer;
}
.m_verify_button {
    background: linear-gradient(to right, #ff5e14, #ff914d);
    color: white;
    font-weight: bold;
}
.m_verify_button:hover {
    background: linear-gradient(to right, #ff914d, #ff5e14);
}

@media (max-width: 2560px) {}
@media (max-width: 1440px) {}
@media (max-width: 1025px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {}
@media (max-width: 426px) {
    .m_otp_input {
        width: 40px;
        height: 40px;
        font-size: 22px;
    }
}
@media (max-width: 375px) {}
@media (max-width: 320px) {
    .m_otp_input {
        width: 38px;
        height: 38px;
        font-size: 20px;
    }
}