/* Login_css */
.m_bg-logotext-custom {
    color: #FE512E;
}
.m_Logn_bg {
    background-image: url(../public/images/Login_bg_img.png);   
}
.m_Logn_bg .m_Login_col_bg {
    height: 100vh;
    background: #F6F8FB;
}
.m_Logn_bg .m_Login_col_bg_1 {
    height: 100vh;
}
.m_Loginimg {
    height: 18rem;
}
.m_Login_From {
    width: 30rem;
}
.m_Login_button {
    background: #F6F8FB;
}
.m_Login_button:hover {
    background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
    color: #fff;
}
.m_Logo_text_media {
    display: none;
}

/* media css */

@media (max-width: 2560px) {}
@media (max-width: 1440px) {}
@media (max-width: 1025px) {
    .m_Loginimg {
        height: 15rem;
    }
}
@media (max-width: 992px) {
    .m_Login_col_bg {
        display: none;
    }

    .m_Logo_text_media {
        display: flex;
    }
}
@media (max-width: 768px) {}
@media (max-width: 426px) {
    .m_Login_From {
        width: 28rem;
    }
}
@media (max-width: 375px) {
    .m_text_sm_media {
        font-size: 15px
    }

    .m_Login_From {
        width: 23rem;
    }
}
@media (max-width: 320px) {}