@media (max-width: 426px){
    #main{
        margin-left: 0px !important;
    }
}


::-webkit-scrollbar {
    width:3px;
    background-color: transparent;
    height: 8px;

}

::-webkit-scrollbar-thumb {
    /* background: orangered; */
    border-radius: 30px;
    background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);

}


